#!/bin/sh

CURENT_DATE=`date "+%Y-%m-%dT%H_%M_%S"`

NAS="{{ nas_username }}@{{ nas_hostname }}"

rsync -azP \
  -e ssh \
  --exclude '.cache' \
  --delete \
  --delete-excluded \
  --link-dest=../current \
  ${HOME} ${NAS}::home/Backups/incomplete_back-${CURENT_DATE} \
  && ssh ${NAS} \
  "mv Backups/incomplete_back-$date Backups/back-$date \
  && rm -f Backups/current \
  && ln -s back-$date Backups/current"
