#!/bin/sh

CURENT_DATE=`date "+%Y-%m-%dT%H_%M_%S"`

NAS="{{ nas_username }}@{{ nas_hostname }}"

rsync -azP \
  -e ssh \
  --exclude 'output-qemu' \
  --exclude 'packer_cache' \
  --delete \
  --delete-excluded \
  --link-dest=../current \
  ${HOME}/bin \
  ${HOME}/Desktop \
  ${HOME}/Documents \
  ${HOME}/Downloads \
  ${HOME}/Dropbox \
  ${HOME}/go \
  ${HOME}/Pictures \
  ${HOME}/Projects \
  ${HOME}/Public \
  ${NAS}::home/Backups/incomplete_back-${CURENT_DATE} \
  && ssh ${NAS} \
  "mv Backups/incomplete_back-${CURENT_DATE} Backups/back-${CURENT_DATE} \
  && rm -f Backups/current \
  && ln -s back-${CURENT_DATE} Backups/current"
